@* @model ViewModelLayer.Entities.Vm_User; *@
@* <form action="/Home/Check" method="POST">
    <div>
        <input type="text" placeholder="UserName" asp-for="UserName">
        <input type="password" placeholder="Password" asp-for="Password">
    </div>
    <div>
        <button type="submit">ورود</button>
    </div>
</form>
<div>
    <a href="/Home/Add" style="color: red;">ثبت نام</a>
</div> *@
<a href="/home/pardakht">پرداخت</a>