
<form action="https://say.shaparak.ir/_ipgw_//MainTemplate/payment/" method="post">
	<fieldset>
		<legend>Sample data from merchant</legend>
		<p>Token:
			<input type="text" name="token" value="cYEhtSamjEBAxpQCVIHUu_yUjH8jGB3CKbr9HQ8NAtE" />
        </p>
			<p>Lang:
				<input type="text" name="language" value="fa"/>
			</p>
    </fieldset>
	<p><input type="submit" value="Submit"/></p>
</form> 